/* @import "@/styles/reset.css"; */
@import "../styles/variables.css";
/* @import "@/styles/themes.css"; */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  gap: 0;
}

body {
  font-family: system-ui, sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}
