.header {
    --header-height: 64px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-tertiary);
    color: var(--text-secondary);
    padding: 0 40px;
    height: var(--header-height);
}

.logo {
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    direction: row;
    align-items: center;
    gap: 5rem;
}

.navlinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
    height: var(--header-height);
}

.link {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--text-secondary);
    text-decoration: none;
    /* padding: 0.5rem 0; */
    height: var(--header-height);
}

.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;

    width: 100%;
    height: 4px;

    background-color: var(--text-secondary);

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s ease;
}

.link:hover::after,
.link:focus-visible::after {
    transform: scaleX(1);
}

